#card3{
padding-left:30px;
padding-top:30px;
}

#firstcartdiv{
margin-top:50px;
margin-left:20px;
margin-right:20px;

}
#cartform{
magin-left:40px;
}
.product-list{
display:flex;
flex-wrap:wrap;
list-style:none;
padding:0;
}