{% extends "themes1.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'loginstyle.css' %}">
<link rel="stylesheet" href="{% static 'customerstyle.css' %}">
<style>
        #card-authors{

        display:inline-block

        }

</style>
<body>

<div class="conatiner" style="margin-top:40px;margin-left:70px;">


</div>















 {% for i in data %}
        <div class="row row-cols-1 row-cols-md-2 g-4" >
         <div class="col">
               <div class="card w-100" style="card-border-color:rgba($black, .125);">
                    <div class="card-body" id="card-authors">
                        <img src="{{ i.image.url }}" class="img-fluid rounded-start">
                        <p class="card-text" style="">{{ i.author }}</p>
                         <p class="card-text" style="width:50px;height:50%">{{ i.content }}</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

  </div>
</div>
        {% endfor %}
    </div>


</div>

{% endblock %}
</body>