
{% extends "themes1.html" %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'loginstyle.css' %}">
<link rel="stylesheet" href="{% static 'customerstyle.css' %}">
<link rel="stylesheet" href="{% static 'bookstyle.css' %}">


<body>
<div class="container mt-4" >
    <div class="text-center" style="margin-top:40px;"><span>Your Order</span></div>
    <div class="conatiner-card" id="buy-card" style="width: 100%; height:;margin-bottom:50px;w3-border">

        <div class="container-fluid">
           <ol  class="list-unstyled" style="padding-top:20px;w3-border">
                    {% for i in  cart_items %}

                    <li class="list-inline-item">
                        <span> <img src="{{ i.book.image.url }}" class="card-img-top" alt="..." style="width:120px;"></span>
                    </li>
                     <li class="list-inline-item">
                            <p><span> {{ i.book.book }}</span></p>
                                            <p>{{ i.author }}</p>
                                            <p><span>Price: <span>&#8377;</span><span>{{ i.price }}</span></p>
                                            <p>Qunatity: {{ i.qty }}</p>
                     </li>

                    <div class="col-md-4">
                                                <p class="text-right">Total Price: &#8377;{{ i.total_amount }}</p>
                                                <a href="{% url 'wished_lists' i.book.id %}" class="btn btn-success">Add To Wishlist</a>
                                                <a href="{% url 'remove_from_cart' i.id %}" class="btn btn-warning">Remove</a>
                    </div>

                 <P>____________________________________________________________</P>

                     {% endfor %}

               </ol>
                     <br>
                     <br>
        </div>
        <div class="proceed-to-buy" style="height:20%;width:800px;">
                                <p class="subtotal" style="text-align:right;padding-right:20px;">Subtotal: &#8377;{{ total_amount }}</p>
                               <form action="{% url 'add_to_order' %}" method="post">
                                  {% csrf_token %}
                                   <center> <button type="submit" class="btn btn-success" style="width:200px;">Proceed to Buy</button></center>
                              </form>

    </div>
    <br>
    </div>


    </div>


<style>
#buy-card{
<!--    border-style: ridge;-->
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-radius: 0.15rem;

    outline-style: outset;
  outline-color: grey;
   outline-color: light rgb(133, 160, 168);
}
.address-card{
padding-bottom:40px;
}
    .proceed-to-buy{

    margin-left:130px;
    padding-bottom:40px;
    outline-style: outset;

    }
</style>

{% endblock %}
</body>