{% extends "themes1.html" %}
{% load static %}
{% load crispy_forms_tags %}
{%  block content  %}

<link rel="stylesheet" href="{% static 'loginstyle.css' %}">
<link rel="stylesheet" href="{% static 'customerstyle.css' %}">
<div class="conatiner" style="margin-top:40px;">
    <center>  <a href="">My Account</a>-><a href="">My Address</a></center>
        <div class="card"  id="address1" style="padding-left:300px;" >
                <form>
                    {% csrf_token %}

                      {% for i in data %}
                     <div class="container">
                        <div class="form-group row">
<!--                            <label class=" col -form-lable">Full Name : </label>-->
                            <div class="col-sm-10">
                                <label> {{ i.name }}</label>
                            </div>
                        </div>
                         <div class="form-group row">
<!--                            <label class=" col -form-lable">Company Name : </label>-->
                            <div class="col-sm-10">
                                <label> {{i.company }}</label>
                            </div>
                        </div>
                         <div class="form-group row">
<!--                            <label class=" col -form-lable">Street : </label>-->
                            <div class="col-sm-10">
                                <label> {{ i.street }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
<!--                            <label class=" col -form-lable">LandMark : </label>-->
                            <div class="col-sm-10">
                                <label> {{ i.landmark}}</label>
                            </div>
                        </div>
                         <div class="form-group row">
<!--                            <label class=" col -form-lable">Country : </label>-->
                            <div class="col-sm-10">
                                <label> {{ i.country }}</label>
                            </div>
                        </div>
                         <div class="form-group row">
<!--                            <label class=" col -form-lable">State: </label>-->
                            <div class="col-sm-10">
                                <label> {{ i.state}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
<!--                            <label class=" col -form-lable">City : </label>-->
                            <div class="col-sm-10">
                                <label> {{ i.city }}</label>
                            </div>
                        </div>
                     </div>
                        <div class="form-group row">
<!--                             <label class=" col -form-lable">Zip Code : </label>-->
                              <div class="col-sm-10">
                                <label> {{ i.zip_code }}</label>
                              </div>
                         </div>
                       <div class="form-group row">
<!--                               <label class=" col -form-lable">Mobile Number: </label>-->
                               <div class="col-sm-10">
                                   <label> {{ i.mobile }}</label>
                            </div>
                        </div>
                    {% endfor %}
                   </form>

        </div>

        <div class="card" id="address2" style="width:200px;height:200px;">
            <CENTER> <img src="{% static 'storeimages/addaddress1.jpg' %}"  width="90" height="90"></CENTER>

            <center> <a href="{% url 'update_address' %}"><h5>Add Address</h5></a></center>
        </div>

</div>


</body>

{% endblock %}