<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@100;600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'loginstyle.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>books store</title>
  </head>
  <body>

       <!-- Spinner Start -->
<!--       <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">-->
<!--        <div class="spinner-grow text-primary" role="status"></div>-->
<!--    </div>-->
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="container-fluid sticky-top px-0">
        <div class="container-fluid topbar bg-dark d-none d-lg-block">
            <div class="container px-0">
                <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
                    <div class="top-info flex-grow-0">
                        <span class="rounded-circle btn-sm-square bg-primary me-2">
                            <i class="fas fa-bolt text-white"></i>
                        </span>
                        <div class="pe-2 me-3 border-end border-white d-flex align-items-center">
                            <p class="mb-0 text-white fs-6 fw-normal">Top Selling</p>
                         </div>
                         <!--search
                        <div>
                         <form class="d-flex" style="padding-left: 30px;width: 500px;">
                             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                             <button class="btn btn-outline-success" type="submit">Search</button>
                           </form>
                        </div>
                        search end-->
                        <div class="overflow-hidden" style="width: 500px;">
                            <div id="note" class="ps-2">
                                <img src="{% static 'img/book5.jpg' %}" class="img-fluid  border border-3 border-primary me-2" style="width: 80px; height: 30px;" alt="">
                                <a href="#"><p class="text-white mb-0 link-hover">"The Immortals of Meluha" by Amish takes readers on a mesmerizing journey back to 1900 BC, exploring the land of Meluha during the Indus Valley Civilization.</p></a>
                            </div>
                        </div>
                         <!--search -->
                         <div>
                             <form class="d-flex" style="padding-left: 30px;width: 600px;padding-right: 60px;">
                                 <input class="form-control me-2" type="search" placeholder="Title, Author, Publisher" aria-label="Search">
                                 <button class="btn btn-outline-success" type="submit">Search</button>
                               </form>
                            </div>
                            <!--search end-->
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid bg-light">
            <div class="container px-0">
                <nav class="navbar navbar-light navbar-expand-xl">
                    <a href="index.html" class="navbar-brand mt-3">
                        <p class="text-primary display-6 mb-2" style="line-height: 0;">Newsers</p>
                        <small class="text-body fw-normal" style="letter-spacing: 12px;">Nespaper</small>
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
                        <div class="navbar-nav mx-auto border-top">
                            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                            <a href="{% url 'fiction_books' %}" class="nav-item nav-link active">Fiction Books</a>
                            <a href="{% url 'non_fiction' %}" class="nav-item nav-link active">Non Fiction Books</a>
                            <a href="404.html" class="nav-item nav-link active">Best Sellers</a>
                            <a href="{% url 'customer_authors' %}" class="nav-item nav-link active">Featured Authors</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Books</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="{% url 'business' %}" class="dropdown-item active">Kids story</a>
                                    <a href="#" class="dropdown-item active">Poetry Books</a>
                                    <a href="#" class="dropdown-item active">Short Stories</a>
                                    <a href="{% url 'children' %}" class="dropdown-item active">Kids Story</a>
                                </div>
                            </div>
                          <!--  <a href="contact.html" class="nav-item nav-link active">Contact Us</a>-->
                        </div>
                        <div class="d-flex flex-nowrap border-top pt-3 pt-xl-0">
                            <div class="d-flex">

                                <div class="d-flex align-items-center">
                                    <strong class="fs-4 text-secondary"></strong>
                                    <!--<div class="d-flex flex-column ms-2" style="width: 150px;">-->
                                     <div class="nav-item dropdown">
                                        <!--<span class="text-body">my account</span>-->
                                          <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">My Account</a>
                                              <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                                  <a href="{%  url 'loginpage' %}" class="dropdown-item active">Login</a>
                                                  <a href= "{%  url 'Register' %}" class="dropdown-item active">New To ?Sign up</a>
                                                  <a href="#" class="dropdown-item active">Your Account</a>
                                                  <a href="#" class="dropdown-item active">Wish List</a>
                                                       <a href="{% url 'logout' %}" class="dropdown-item active">logout</a>
                                              </div>
                                        <small></small>
                                    </div>
                                    <!--cart begn-->
                                    <small>
                                    <div class=" style=width:120px;">

                                     <a href="{% url 'gotocart' %}"><i class='fas fa-shopping-cart'></i></a>

                                     </div> <!--cart end-->
                                 </small>
                                </div>
                            </div>
                            <!--<button class="btn-search btn border border-primary btn-md-square rounded-circle bg-white my-auto" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>-->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    {% block content %}

    {% endblock %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
<!--  js files-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
       <script src="{% static 'lib/easing/easing.min.js' %}"></script>
       <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
       <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

       <!-- Template Javascript -->
       <script src="{% static 'js/main.js' %}"></script>



       <!-- Footer Start -->
       <div class="container-fluid bg-dark footer py-5">
           <div class="container py-5">
               <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(255, 255, 255, 0.08);">
                   <div class="row g-4">
                       <div class="col-lg-3">
                           <a href="#" class="d-flex flex-column flex-wrap">
                               <p class="text-white mb-0 display-6">Newsers</p>
                               <small class="text-light" style="letter-spacing: 11px; line-height: 0;">Newspaper</small>
                           </a>
                       </div>
                       <div class="col-lg-9">
                           <div class="d-flex position-relative rounded-pill overflow-hidden">
                               <input class="form-control border-0 w-100 py-3 rounded-pill" type="email" placeholder="example@gmail.com">
                               <button type="submit" class="btn btn-primary border-0 py-3 px-5 rounded-pill text-white position-absolute" style="top: 0; right: 0;">Subscribe Now</button>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row ">
                   <div class="col-lg-6 col-xl-3">
                       <div class="footer-item-1">
                           <h4 class="mb-4 text-white">Company</h4>
                           <p class="text-secondary line-h"><a href="#">About Us </a> </p>
                           <p class="text-secondary line-h"><a href="#">Career</a></p>
                           <p class="text-secondary line-h"><a href="#">Blog</a></p>
                           <p class="text-secondary line-h"><a href="#">Contact Us</a></p>
                           <div class="d-flex line-h">
                               <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter text-dark"></i></a>
                               <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f text-dark"></i></a>
                               <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube text-dark"></i></a>
                               <a class="btn btn-light btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in text-dark"></i></a>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-6 col-xl-3">
                       <div class="footer-item-2">
                           <div class="d-flex flex-column mb-4">
                               <h4 class="mb-4 text-white">Recent Posts</h4>
                               <a href="#">
                                   <div class="d-flex align-items-center">
                                       <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                           <img src="{% static 'img/footer-1.jpg' %}" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                       </div>
                                       <div class="d-flex flex-column ps-4">
                                           <p class="text-uppercase text-white mb-3">Life Style</p>
                                           <a href="#" class="h6 text-white">
                                               Get the best speak market, news.
                                           </a>
                                           <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                       </div>
                                   </div>
                               </a>
                           </div>
                           <div class="d-flex flex-column">
                               <a href="#">
                                   <div class="d-flex align-items-center">
                                       <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                           <img src="{% static 'img/footer-2.jpg' %}" class="img-zoominimg-fluid rounded-circle w-100" alt="">
                                       </div>
                                       <div class="d-flex flex-column ps-4">
                                           <p class="text-uppercase text-white mb-3">Sports</p>
                                           <a href="#" class="h6 text-white">
                                               Get the best speak market, news.
                                           </a>
                                           <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                       </div>
                                   </div>
                               </a>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-6 col-xl-3">
                       <div class="d-flex flex-column text-start footer-item-3">
                           <h4 class="mb-4 text-white">Categories</h4>
                           <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Sports</a>
                           <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Magazine</a>
                           <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Lifestyle</a>
                           <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Politician</a>
                           <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Technology</a>
                           <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i> Intertainment</a>
                       </div>
                   </div>

                 <!--  <div class="col-lg-6 col-xl-3">
                       <div class="footer-item-4">
                           <h4 class="mb-4 text-white">Our Gallary</h4>
                           <div class="row g-2">
                               <div class="col-4">
                                   <div class="rounded overflow-hidden">
                                       <img src="{% static 'img/footer-1.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                   </div>
                              </div>
                              <div class="col-4">
                                   <div class="rounded overflow-hidden">
                                       <img src="{% static 'img/footer-2.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                   </div>
                              </div>
                               <div class="col-4">
                                   <div class="rounded overflow-hidden">
                                       <img src="{% static 'img/footer-3.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                   </div>
                              </div>
                               <div class="col-4">
                                   <div class="rounded overflow-hidden">
                                       <img src="{% static 'img/footer-4.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                   </div>
                              </div>
                               <div class="col-4">
                                   <div class="rounded overflow-hidden">
                                       <img src="{% static 'img/footer-5.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                   </div>
                              </div>
                              <div class="col-4">
                               <div class="rounded overflow-hidden">
                                   <img src="{% static 'img/footer-6.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                               </div>
                          </div>
                           </div>
                       </div>-->
                   </div>
               </div>
           </div>
       </div>
       <!-- Footer End -->

                           <div class="d-flex line-h">
                               <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter text-dark"></i></a>
                               <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f text-dark"></i></a>
                               <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube text-dark"></i></a>
                               <a class="btn btn-light btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in text-dark"></i></a>
                           </div>

       <!-- Copyright Start -->
       <div class="container-fluid copyright bg-dark py-4">
           <div class="container">
               <div class="row">
                   <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                       <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
                   </div>
                   <div class="col-md-6 my-auto text-center text-md-end text-white">
                       <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                       <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                       <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                       Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
                   </div>
               </div>
</div>
       </div>
       <!-- Copyright End -->

  </body>
</html>
